@CHARSET "ISO-8859-1";
html{
	display:block;
}
h1{
	font-family: Arial,sans-serif;
    font-size:large;
    color:#079;
}

span{
	margin-top:10px;
	margin-bottom:10px;
	display:block;
	font-size:small;
    color:#000;
    text-decoration:none;
}
.error{
	display:block;
	font-size:small;
    color:#ff0000;
    text-decoration:none;
    padding: 20px;
}

#objFP{
	border:1px solid #ededed;
}
table{
	border:1px solid #ededed;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial,sans-serif;
    color:#079;
    font-size: small;
    text-align: right;
    padding: 10px;
}
#uid{
	width: 100%;
}
#password{
	width: 100%;
}
#header{
	background-image: url("images/logo_inst.gif");
	background-repeat:no-repeat;
	height: 105px;
}
#bioMetricDiv{
	border:1px solid #ededed;
	text-align: center;
	width: 50%;
	height:600px;
    margin: 20px auto;
    font-family: Arial,sans-serif;
    color:#079;
}

#eid{
	margin:10px;
	width: 250px;
	font-family: Arial,sans-serif;
    color:#079;
    text-align: center;
}

.button{
	border: none;
	margin: none;
	padding-right:5px;
	padding-left:5px;
	background: none;
	background-color: transparent;
	font-family: Arial,sans-serif;
	font-size:small;
    color:#079;
    text-decoration:none;
    cursor: pointer;
}

.button:hover{
	text-decoration:underline;
	padding-right:3px;
	padding-left:7px;
}
#objectDiv{
	display:none;
}

.footerExtNav{
	padding-top: .5em;
	padding-bottom: .5em;
	background: #69c;
}
.footerExtNav a,.footerExtNav A:link,.footerExtNav A:visited{
	font-family: 'Trebuchet MS',Verdana,sans-serif;
	font-size:x-small;
	color: #000;
	text-decoration: none;
	margin: 1em;
}

.footerExtNav a:hover{
	color: #aaa;
	text-decoration: underline;
	margin: 1em;
}

.sakaiCopyrightInfo{
	text-align:center;
	font-family: 'Trebuchet MS',Verdana,sans-serif;
	font-size:x-small;
	color: #516C80;
}

.success{
	width: 50%;
	height: 50%;
}
